<main class="contenedor">
    <form action="/vacantes/editar/{{ vacant.url }}" method="post" class="default-form">
        <h3>Información general</h3>

        <div class="campo">
            <label for="title">Título</label>
            <input type="text" id="title" name="title" value="{{ vacant.title }}" placeholder="Ej: React Developer" required />
        </div>
        <div class="campo">
            <label for="enterprise">Empresa</label>
            <input type="text" id="enterprise" name="enterprise" value="{{ vacant.enterprise }}" placeholder="Ej: Startup Dev" required />
        </div>
        <div class="campo">
            <label for="location">Ubicación</label>
            <input type="text" id="location" name="location" value="{{ vacant.location }}" placeholder="Ej: Remoto" required />
        </div>
        <div class="campo">
            <label for="salary">Salario (USD)</label>
            <input type="text" id="salary" name="salary" value="{{ vacant.salary }}" placeholder="Ej: 500usd" required />
        </div>
        <div class="campo">
            <label for="contract">Contrato</label>
            <select name="contract" id="contract">
                {{#contractType vacant.contract }}
                    <option value="" disabled selected>-- Selecciona --</option>
                    <option value="freelance">Freelance</option>
                    <option value="tiempo-completo">Tiempo completo</option>
                    <option value="medio-tiempo">Medio tiempo</option>
                    <option value="por-proyecto">Por proyecto</option>
                {{/contractType }}
            </select>
        </div>
        <h3>Descripción del puesto</h3>
        <div class="campo descripcion">
            <input type="hidden" id="x" name="description" value="{{{ vacant.description }}}" />
            <trix-editor input="x"></trix-editor>
        </div>
        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#selectedSkills vacant.skills}}
            {{/selectedSkills}}
            <input type="hidden" name="skills" id="skills" />
        </ul>
        <div class="campo centrar-horizontal">
            <input type="submit" value="Actualizar vacante" class="btn btn-azul" />
        </div>
    </form>
</main>