<main class="lista-vacantes">
    <pre><code class="code">{{ session }}</code></pre>
    <h2>Lista de vacantes</h2>
    {{#if vacancies.length }}
        {{#each vacancies }}
            <div class="vacante">
                <div class="caja">
                    <h3>{{ enterprise }}</h3>
                    <p class="puesto">{{ title }}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubicación</p>
                    <p class="nombre">{{ location }}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato</p>
                    <p class="nombre contrato">{{ contract }}</p>
                </div>
                <div class="caja centrar-vertical">
                    <a href="/vacantes/{{ url }}" class="btn btn-verde">más info</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay vacantes disponibles.</p>
    {{/if}}
</main>