<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>devJobs - {{ namePage }}</title>
</head>
<body>
    <div class="nombre-sitio contenedor">
        <h1><a href="/">{{ siteName }}</a></h1>
        {{#if barra}}
            <div class="buscador">
                <form action="#">
                    <input type="text" name="search" class="buscar" />
                    <input type="submit" value="">
                </form>
            </div>
        {{/if}}
    </div>
    <header class="site-header contenedor separador">
        <h2>{{ siteName }}</h2>
        {{#if tagLine}}
            <p class="tagline">{{ tagLine }}</p>
        {{/if}}
        {{#if boton}}
            <a href="/vacantes/nueva" class="btn btn-azul">Publicar nueva vacante</a>
        {{/if}}
    </header>
    <div class="contenido-principal contenedor">
        {{!-- Triple llave para que handlebars interprete el HTML --}}
        {{{ body }}}
    </div>
</body>
</html>